@import '../../styles/variables.scss';

.todoContainer {
  position: relative;
  width: 360px;
  margin: 0 auto;
  padding: 20px;
  // overflow-y: auto;
}

.heading {
  color: $dark-blue;
  font-size: 2rem;
  font-weight: 1000;
}

.text {
  margin-top: 10px;
  color: $dark-blue;
  font-size: 1.5rem;
  font-weight: 700;
}

.addBtn {
  position: absolute;
  top: 50px;
  right: 22px;
  font-size: 1.2rem;
  color: $primary;
}

.plusIcon {
  path {
    fill: $primary;
  }
}

.weeklyTodoList {
  margin-top: 40px;
}
